button.start, button.reset{
     display: inline-block;
     padding: 10px 30px;
     font-weight: 300;
     text-decoration: none;
     border-radius: 200px;
     color: #fff;
     font-size: 20px;
     background-color: #2ed573;
     border: 1px solid #2ed573;
     margin-top: 50px;
     margin-right: 5px;
 }

 .container {
     width: 100%;
 }

 .centered-text {
    position: absolute;
    font-size: 50px;
    color: antiquewhite;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}